<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS CDN -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- Our Custom CSS -->
<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<!-- Bootstrap Js CDN -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

 
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
 <div class="row" style="width:99%;">
   <div class="col-md-2"></div>
   <div class="col-md-10">
  <div class="container-fluid" style="padding-top:50px;">
  <div class="jumbotron" style="padding-top:10px;background-color:#0077B5;color:white;padding-bottom:20px;">
   <div class="row">

      <div class="col-sm-4">
         <b>Name</b> <div class="input-group">
              <span class="input-group-addon" style="background-color:#0077B5;color:white;"><i class="glyphicon glyphicon-user"></i></span>
              <input type="text" id="email" class="form-control"></div>
      </div>

      <div class="col-sm-4">

          <b>First Name</b> <div class="input-group">
              <span class="input-group-addon" style="background-color:#0077B5;color:white;"><i class="glyphicon glyphicon-user"></i></span>
              <input type="text" id="email" class="form-control"></div>
      </div>
	  
	    <div class="col-sm-4">
            <b>Mobile No</b> <div class="input-group">
              <span class="input-group-addon" style="background-color:#0077B5;color:white;"><i class="glyphicon glyphicon-phone"></i></span>
              <input type="text" class="form-control"></div>

          </div>
    

        </div>

    
		
		<div class="row" style="padding-top:10px;">
		
		<div class="col-lg-6">
		 <b>City/Postal Code</b> <div class="input-group">
              <!-- <span class="input-group-addon" id="iccon"><i class="glyphicon glyphicon-calendar"></i></span> -->
              <table>
                <tr>
              <td><input type="text" id="email" class="form-control"></td>
        <td style="padding-left:5px;"> <input type="text" id="email" class="form-control"></td>
        </tr>
        </table>
			  </div>
      </div>
	  
	  <div class="col-lg-6">
      <b>ViewBy</b>
      <div class="dropdown">
         <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" style="background-color:white;color:black;">Individual Profile
         <span class="caret" style="padding-right:5px;"></span></button>
         <ul class="dropdown-menu">
           <li style="padding-left:20px;"><a href="#">View All</a></li>
           <li style="padding-left:20px;"><a href="#"></a></li>
           <li style="padding-left:20px;"><a href="#">Company Profile</a></li>
         </ul>
       </div>
		
		</div>
		
</div>



<div class="row" style="padding-top:10px;">



<div class="col-lg-4">
<table>
<tr>
<td>
<input type="checkbox" style="width:20px;height:20px;">
</td>

<td style="padding-left:15px;">
<b style="color:white;">Neg. Rates </b>
</td>

</tr>
</table>
</div>

<div class="col-lg-4">

<table>
<tr>
<td>
<input type="checkbox" style="width:20px;height:20px;">
</td>

<td style="padding-left:15px;">
<b style="color:white;">Show Inactive </b>
</td>

</tr>
</table>
</div>

<div class="col-lg-4">
</div>
</div>

<div class="row" style="padding-top:10px;">

<div class="col-lg-7">

</div>
          
		  <div class="col-lg-5">
		  <table>
		  <tr>
 <td><button type="button" class="btn btn-warning" routerLink="/stables"><b>Search</b><span class="glyphicon glyphicon-search" style="padding-left:5px;"></span></button></td>
 
 <td style="padding-left:5px;"><button type="button" class="btn btn-success"><b>Clear</b><span class="glyphicon glyphicon-search" style="padding-left:5px;"></span></button></td>
 </tr>
 </table>
</div>


        
   </div>

  </div>

  </div>

  <div class="container-fluid">
            
    <table class="table table-bordered table-hover">
      <thead style="background-color:#0077B5;color:white;">
        <tr>
          <th>Name</th>
          <th>Address</th>
          <th>City</th>
          <th>Postal Code</th>
          <th>Company</th>
          <th>A/R No.</th>
          <th>VIP</th>
          <th>Rate Code</th>
         
        </tr>
      </thead>
      <tbody>
        <tr style="height:40px;">
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
         
        </tr>
        <tr style="height:40px;">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
           
          </tr>
          <tr style="height:40px;">
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
             
            </tr>
  
            <tr style="height:40px;">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
               
              </tr>
  
              <tr style="height:40px;">
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                 
                </tr>
  
                <tr style="height:40px;">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                   
                  </tr>
  
                  <tr style="height:40px;">
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                     
                    </tr>
  
                    <tr style="height:40px;">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                       
                      </tr>
  
                      <tr style="height:40px;">
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                         
                        </tr>
      </tbody>
    </table>
  </div>
  
  <div class="container-fluid">
    <table>
      <tr>
        <td style="padding-left:300px;">
          <button type="button" class="btn btn-warning"><b>Enrollment</b><span class="glyphicon glyphicon-file" style="padding-left:5px;"></span></button>
        </td>
        <td style="padding-left:5px;">
            <button type="button" class="btn btn-success"><b>Resv.</b><span class="glyphicon glyphicon-home" style="padding-left:5px;"></span></button>
          </td>
          <td style="padding-left:5px;">
              <button type="button" class="btn btn-primary" routerLink="/individualprofile"><b>New</b><span class="glyphicon glyphicon-file" style="padding-left:5px;"></span></button>
            </td>
            <td style="padding-left:5px;">
                <button type="button" class="btn btn-success" routerLink="/psearch"><b>Ok</b><span class="glyphicon glyphicon-thumbs-up" style="padding-left:5px;"></span></button>
              </td>
              <td style="padding-left:5px;">
                  <button type="button" class="btn btn-success" routerLink="/modal-basic"><b>Edit</b><span class="glyphicon glyphicon-edit" style="padding-left:5px;"></span></button>
                </td>
                <td style="padding-left:5px;">
                    <button type="button" class="btn btn-danger"><b>Close</b><span class="glyphicon glyphicon-remove" style="padding-left:5px;"></span></button>
                  </td>
      </tr>
    </table>
  
  </div>
</div>
</div>
</body>
</html>