table{

    font-size:16px;
   
   }

   .table-responsive {

    height:40%;
    width:100%;
    /* overflow-x: auto; */
    overflow-y: auto;
   }
    
   /* tbody{
    height:200px;
    overflow-y:auto;
    width: 100%;
    }    */
