

<div class="modal fade" id="new" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header" style="background-color:#0077B5;color:white;">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Room Conditions-New</h4>
        </div>
        <div class="modal-body">
         
          <div class="row">
<div class="col-lg-4">
<b>Room Condition</b>
</div>

<div class="col-lg-4">
    <select  required style="height:34px;color:black;border-radius:4px;width:200%;color:black;">
        <option value = "Inspected">Inspected</option>
        <option value = "Clean">Clean</option>
        <option value = "Dirty">Dirty</option>
        <option value = "Pick Up">Pick Up</option>
        <option value = "Out Of Order">Out Of Order</option>
        <option value = "Out Of Service">Out Of Service</option>
        </select>
  </div>

          </div><br>

          <div class="row" style="padding-left:20px;">
           <textarea rows="5" cols="85" style="border-radius:4px;"></textarea>
          </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success" data-dismiss="modal"><b>Ok</b><span class="glyphicon glyphicon-thumbs-up" style="padding-left:5px;"></span></button>
          <button type="button" class="btn btn-danger" data-dismiss="modal"><b>Close</b><span class="glyphicon glyphicon-remove" style="padding-left:5px;"></span></button>
        </div>
      </div>
      
    </div>
  </div>
  

<div class="container" style="padding-top:40px;">
  <div class="jumbotron jumbotron-fluid" style="padding-top:20px;background-color:#0077B5;color:white;">
 
  
  <div class="row">
    <div class="col-lg-4">
  
  <div class="col-lg-1">
  <input type="checkbox" style="width:20px;height:20px;">
  </div>
  
  <div class="col-lg-2">
   <b>Reserved</b>
  </div>
  
    </div>
  
    <div class="col-lg-4">
  
        <div class="col-lg-1">
            <input type="checkbox" style="width:20px;height:20px;">
            </div>
            
            <div class="col-lg-1">
             <b>Not Reserved</b>
            </div>
      
      </div>
   
        
  
  </div><br>


  <div class="row">
    <div class="col-lg-4">
  
  <div class="col-lg-1">
  <input type="checkbox" style="width:20px;height:20px;">
  </div>
  
  <div class="col-lg-2">
   <b>Vacant</b>
  </div>
  
    </div>
  
    <div class="col-lg-4">
  
        <div class="col-lg-1">
            <input type="checkbox" style="width:20px;height:20px;">
            </div>
            
            <div class="col-lg-1">
             <b>Occupied</b>
            </div>
      
      </div>
      <div class="col-lg-4">
  
          <div class="col-lg-1">
              <input type="checkbox" style="width:20px;height:20px;">
              </div>
              
              <div class="col-lg-5">
               <b>Due Out</b>
              </div>
      
        </div>
        
  
  </div><br>
  
  
  <div class="row">
  
      <div class="col-lg-2">
          <b>Floor</b>
        </div>
    
        <div class="col-lg-2">
            <select  required style="height:34px;color:black;border-radius:4px;width:100%;color:black;">
                <option value = "KNGN">KNGN</option>
                <option value = "KNGS">KNGS</option>
                <option value = "KEXN">KEXN</option>
                <option value = "KSGS">KSGS</option>
                <option value = "KSBS">KSBS</option>
                <option value = "SJSS">SJSS</option>
                </select>
        </div>
  
        <div class="col-lg-2">
            <b>Room </b>
          </div>
      
          <div class="col-lg-2">
              <select  required style="height:34px;color:black;border-radius:4px;width:100%;color:black;">
                  <option value = "KNGN">KNGN</option>
                  <option value = "KNGS">KNGS</option>
                  <option value = "KEXN">KEXN</option>
                  <option value = "KSGS">KSGS</option>
                  <option value = "KSBS">KSBS</option>
                  <option value = "SJSS">SJSS</option>
                  </select>
          </div>
  
          <div class="col-lg-2">
              <b>Room Class</b>
            </div>
        
            <div class="col-lg-2">
                <select  required style="height:34px;color:black;border-radius:4px;width:100%;color:black;">
                    <option value = "KNGN">KNGN</option>
                    <option value = "KNGS">KNGS</option>
                    <option value = "KEXN">KEXN</option>
                    <option value = "KSGS">KSGS</option>
                    <option value = "KSBS">KSBS</option>
                    <option value = "SJSS">SJSS</option>
                    </select>
            </div>
  
  </div><br>
  <div class="row">
  <div class="col-lg-10">
  
  </div>
  
  <div class="col-lg-2">
  <button type="button" class="btn btn-warning"><b>Search</b><span class="glyphicon glyphicon-search" style="padding-left:5px;"></span></button>
    </div>
  </div>
  </div>
  </div>
  
  <div class="container">
      <table class="table table-bordered table-responsive table-hover">
          <thead style="background-color:#0077B5;color:white;">
            <tr>
              <th>X</th>
              <th>Room</th>
              <th>Room Type</th>
              <th>Room Status</th>
               <th>FO Status</th>
              <th>Features</th>
             <th>Room Condition</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><input type="checkbox"></td>
              <td>101</td>
              <td>KNGN</td>
             
              <td  class="select" style="background-color:#5cb85c">
                  <select style="width:135px;height:20px;border-radius:4px;background-color:#5cb85c;color:white;">        
                      <option value="Inspected" style="color:white;"><b >Inspected</b></option>
                      <option value="Dirty">Dirty</option>
                      <option value="Clean">Clean</option>
                      <option value="Pick up">Pick up</option>
                      <option value="Out of Order">Out of Order</option>
                      <option value="Out of Service">Out of Service</option>
              </select></td>
             <td>VAC</td>
          
            
              <td>LN NS QR</td>
              <td></td>
              
  
            
             
              
            </tr>
            <tr style="height:40px;">
                <td><input type="checkbox"></td>
                <td>102</td>
                <td>KNGN</td>
               
                <td style="background-color:#5cb85c;color:white;">Clean</td>
               <td>VAC</td>
            
              
                <td>LN NS QR</td>
                <td></td>
                
    
               
                
               
            </tr>
    
            <tr style="height:40px;">
                <td><input type="checkbox"></td>
              <td>103</td>
              <td>KNGN</td>
             
              <td style="background-color:#d9534f;color:white;">Dirty</td>
             <td>VAC</td>
          
            
              <td>LN NS QR</td>
              <td></td>
              
  
             
                
               
               
            </tr>
            <tr style="height:40px;">
                <td><input type="checkbox"></td>
                <td>104</td>
                <td>KNGN</td>
               
                <td style="background-color:#5bc0de;color:white;">Pick Up</td>
               <td>VAC</td>
            
              
                <td>LN NS QR</td>
                <td></td>
                
    
                
                
               
            </tr>
    
            <tr style="height:40px;">
                <td><input type="checkbox"></td>
                <td>105</td>
                <td>KNGN</td>
               
                <td style="background-color:#d9534f;color:white;">Out Of Service</td>
               <td>VAC</td>
            
              
                <td>LN NS QR</td>
                <td></td>
                
    
               
                
                
            </tr>
    
            <tr style="height:40px;">
                <td><input type="checkbox"></td>
                <td>106</td>
                <td>KNGN</td>
               
                <td style="background-color:#d9534f;color:white;">Out Of Order</td>
               <td>VAC</td>
            
              
                <td>LN NS QR</td>
                <td></td>
                
    
               
                
               
            </tr>
          </tbody>
        </table>
  
  
  </div>
  
  <div class="container">
    <div class="row">
      <div class="col-lg-1">
 
      </div>
  
      <div class="col-lg-2">
          <button type="button" class="btn btn-success" style="width:100%;"><b>Resv.</b><span class="glyphicon glyphicon-home" style="padding-left:5px;"></span></button>
        </div>
        <div class="col-lg-2">
            <button type="button" class="btn btn-primary" style="width:100%;" data-toggle="modal" data-target="#new"><b>New</b><span class="glyphicon glyphicon-file" style="padding-left:5px;"></span></button>
          </div>
          <div class="col-lg-2">
              <button type="button" class="btn btn-success" style="width:100%;"><b>Edit</b><span class="glyphicon glyphicon-edit" style="padding-left:5px;"></span></button>
            </div>
            <div class="col-lg-2">
                <button type="button" class="btn btn-danger" style="width:100%;"><b>Delete</b><span class="glyphicon glyphicon-trash" style="padding-left:5px;"></span></button>
              </div>
              <div class="col-lg-2">
                  <button type="button" class="btn btn-danger" style="width:100%;"><b>Close</b><span class="glyphicon glyphicon-remove" style="padding-left:5px;"></span></button>
                </div>
                                
                <div class="col-lg-1">
 
                  </div>
    </div>
  
  </div>
  