

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS CDN -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- Our Custom CSS -->
<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<!-- Bootstrap Js CDN -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

 
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="row"  style="width:99%">

  <div class="container" style="padding-top:40px;">
  <div class="jumbotron" style="padding-top:10px;background-color:#0077B5;color:white;padding-bottom:20px;">
        <form action="">
    <div class="row">
        <div class="col-lg-4">
         <b> First Name *</b>
              <div class="input-group">
                <!-- <span class="input-group-addon" style="background-color:#0077B5;color:white;"><i class="glyphicon glyphicon-user"></i></span> -->
                    <input type="text" name="First Name" class="form-control"[(ngModel)]="user.PF_Firstname">
                <span class="input-group-btn" >
                    <button class="btn btn-primary btn-lg" routerLink="/psearch"><i class="glyphicon glyphicon-option-horizontal"></i></button>
                </span>
            </div>
      </div>

      <div class="col-lg-4">

          <b>Last Name</b> <div class="input-group">
              <span class="input-group-addon" style="background-color:#0077B5;color:white;"><i class="glyphicon glyphicon-user"></i></span>
              <input type="text" name="Last Name" class="form-control"></div>
      </div>
	  
      <div class="col-lg-4">
        <b>Language</b> <div class="input-group">
            <span class="input-group-addon" style="background-color:#0077B5;color:white;"><i class="glyphicon glyphicon-pencil"></i></span>
            <input type="text" name="Language" class="form-control"></div>
     </div>

        </div>

        <div class="row">

      <div class="col-lg-4">
         <b>Contact</b> <div class="input-group">
              <span class="input-group-addon" style="background-color:#0077B5;color:white;"><i class="glyphicon glyphicon-phone"></i></span>
              <input type="text" name="Contact" class="form-control"></div>
      </div>

	    <div class="col-lg-4">
        <b>Phone</b> <div class="input-group">
          <span class="input-group-addon" style="background-color:#0077B5;color:white;"><i class="glyphicon glyphicon-phone"></i></span>
          <input type="text"name="Phone" class="form-control" [(ngModel)]="user.PF_Mobileno"></div>

      </div>
      <div class="col-lg-4">
        <b>Title</b> <div class="input-group">
            <span class="input-group-addon" style="background-color:#0077B5;color:white;"><i class="glyphicon glyphicon-edit"></i></span>
            <input type="text" name="Title" class="form-control"></div>
     </div>    

        </div>
    
        
        <div class="row">

          <div class="col-lg-4">
            <b>Group</b> <div class="input-group">
              <span class="input-group-addon" style="background-color:#0077B5;color:white;"><i class="glyphicon glyphicon-th"></i></span>
              <input type="text"name="Phone" class="form-control"></div>
          </div>
          <div class="col-lg-4">
             <b>Source</b><div class="input-group">
              <span class="input-group-addon" style="background-color:#0077B5;color:white;"><i class="glyphicon glyphicon-share"></i></span>
              <input type="text"name="Phone" class="form-control" [(ngModel)]="user.RES_Source"></div>
          </div>
    

        
         <div class="col-lg-4">
          <b>Country</b> <div class="input-group">
              <span class="input-group-addon" style="background-color:#0077B5;color:white;"><i class="glyphicon glyphicon-pencil"></i></span>
              <input type="text" name="Country" class="form-control"></div>
       </div>
        
    
            </div>


                
        <div class="row">

          <div class="col-lg-4">
            <b>Company</b> <div class="input-group">
              <span class="input-group-addon" style="background-color:#0077B5;color:white;"><i class="glyphicon glyphicon-th"></i></span>
              <input type="text"name="Phone" class="form-control"></div>
         </div>

         <div class="col-lg-4">

          <b>Agent</b> <div class="input-group">
            <span class="input-group-addon" style="background-color:#0077B5;color:white;"><i class="glyphicon glyphicon-share"></i></span>
            <input type="text"name="Phone" class="form-control"></div>
      </div>         
    
          <div class="col-lg-4">
            <b>VIP</b> <div class="input-group">
                <span class="input-group-addon" style="background-color:#0077B5;color:white;"><i class="glyphicon glyphicon-edit"></i></span>
                <input type="text" name="Language" class="form-control"></div>
         </div>
        
    
            </div>


        </form>


  </div>

  </div>

  <div class="container">
<div class="col-lg-4">

</div>
<div class="col-lg-4">
    <button type="button" class="btn btn-primary" style="width:200px;"><b>More Fields</b></button>
  </div>

  <div class="col-lg-4">

    </div>
  </div><br>

  <div class="container">
    <div class="row">


      <div class="col-lg-4">
          <div class="panel panel-primary">
              <div class="panel-body">
                <div class="row">
        <div class="col-lg-2">

          <b>Arrival</b>

        </div>

        <div class="col-lg-2" style="padding-left:55px;">
            <div class="input-group">
                <span class="input-group-addon" style="background-color:#0077B5;color:white;"><i class="glyphicon glyphicon-calendar"></i></span>
                <input type="date" class="form-control" placeholder="Enter your User Name" style="width:176px;" [(ngModel)]="user.RES_Arrival"></div>
                <!-- <mat-form-field >
                  <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="user.RES_Arrival">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field></div> -->
                {{user.RES_Arrival}}
              </div>
          </div>

          <div class="row" style="padding-top:5px;">
              <div class="col-lg-2">
      
                <b>Departure</b>
      
              </div>
      
              <div class="col-lg-2">
                  <div class="input-group" style="padding-left:40px;">
                      <span class="input-group-addon" style="background-color:#0077B5;color:white;"><i class="glyphicon glyphicon-calendar"></i></span>
                      <input type="date" class="form-control" placeholder="Enter your User Name" style="width:176px;" [(ngModel)]="user.RES_Depature"></div>
                      {{user.RES_Depature}}
                    </div>
                </div>


       <div class="row" style="padding-top:5px;">
        <div class="col-lg-2">
            
          <b>Nights</b>
            
        </div>
            
            <div class="col-lg-2">
             <div class="input-group" style="padding-left:40px;">
                <span class="input-group-addon" style="background-color:#0077B5;color:white;"><i class="glyphicon glyphicon-home"></i></span>
                <input type="text" class="form-control" style="width:176px;" [(ngModel)]="user.RES_Nights"></div>
             </div>
            </div>

       <div class="row" style="padding-top:5px;">
        <div class="col-lg-2">         
        <b>Room_No.</b>          
        </div>

		<div class="col-lg-2">
         <div class="input-group" style="padding-left:40px;">
           <span class="input-group-addon" style="background-color:#0077B5;color:white;"><i class="glyphicon glyphicon-home"></i></span>
           <input type="text" class="form-control" style="width:176px;" [(ngModel)]="user.RES_Room"></div>
         </div>
        </div>

        <div class="row" style="padding-top:5px;">
         <div class="col-lg-2">               
          <b>No.of_Rooms</b>             
         </div>
     
     	 <div class="col-lg-2">
         <div class="input-group" style="padding-left:40px;">
         <span class="input-group-addon" style="background-color:#0077B5;color:white;"><i class="glyphicon glyphicon-home"></i></span>
          <input type="text" class="form-control" style="width:176px;" [(ngModel)]="user.RES_Number_Of_Rooms"></div>
         </div>
         </div>

        <div class="row" style="padding-top:5px;">
        <div class="col-lg-2">
		<b>Adults/Child</b>                              
		</div>                              
		<div class="col-lg-2">
          <div class="input-group" style="padding-left:25px;">
           <table>
            <tr>
            <td style="padding-left:15px;"> <input type="text" class="form-control" style="width:105px;border-radius:4px;color:black;" [(ngModel)]="user.RES_Adults"></td>
			<td style="padding-left:5px;"><input type="text" class="form-control" style="width:105px;border-radius:4px;color:black;" [(ngModel)]="user.RES_Child"></td></tr></table>
          </div>
          </div>
		  </div>
		  
          <div class="row" style="padding-top:5px;">
           <div class="col-lg-2">
            <b>Room_Types</b>                        
			</div>                                    
			<div class="col-lg-2">
			<div class="input-group" style="padding-left:40px;">
			<select required style="width:216px;height:34px;border-radius:4px;color:black;" [(ngModel)]="user.RES_Room_Type">
        <option *ngFor="let roomtypelist of roomtype" [ngValue] = "roomtypelist.type"> {{roomtypelist.type}}</option> 
			</select>
			</div>
			</div>
			</div>
		<div class="row" style="padding-top:5px;">
           <div class="col-lg-2">                               
		   <b>RTC</b>                                          
		   </div>
	   <div class="col-lg-2">
       <div class="input-group" style="padding-left:40px;">
         <select required style="width:216px;height:34px;border-radius:4px;color:black;" [(ngModel)]="user.RES_RTC">
          <option *ngFor="let roomtypelist of roomtype" [ngValue] = "roomtypelist.type"> {{roomtypelist.type}}</option> 
        </select>
        </div>
        </div>
        </div>

       <div class="row" style="padding-top:5px;">
        <div class="col-lg-2">                  
		<b>Rate_Code</b>                                                
		</div>		
        <div class="col-lg-2">
		<div class="input-group" style="padding-left:40px;" >
		<select required style="width:216px;height:34px;border-radius:4px;color:black;" [(ngModel)]="user.RES_Rate_Code">
			
		<option *ngFor="let tablelist of tableschanges" [ngValue] = "tablelist.ratecode"> {{tablelist.ratecode}}</option> 
                                                                 
		</select>
		</div>
		</div>
    </div>
    <div class="row" style="padding-top:5px;">
      <div class="col-lg-2">
          
        <b>Rate</b>
          
      </div>
          
          <div class="col-lg-2">
           <div class="input-group" style="padding-left:40px;">
              <span class="input-group-addon" style="background-color:#0077B5;color:white;"><i class="glyphicon glyphicon-usd"></i></span>
              <input type="text" class="form-control" style="width:176px;" [(ngModel)]="user.RES_Rate"></div>
           </div>
          </div>
		<div class="row" style="padding-top:5px;">
		<div class="col-lg-2">		
		<b>Fixed_Rate</b>                                                      
		</div>                                                      
		<div class="col-lg-2">
		<div class="input-group" style="padding-left:40px;">
		<input type="checkbox" style="width:20px;height:20px;">
		</div>
		</div>
		</div>
           
      </div>
</div>
</div>
    
        <div class="col-lg-4">
          <div class="panel panel-primary">     
            <div class="panel-body">			
			<div class="row" style="padding-top:5px;">
			<div class="col-lg-2">                
			<b>Extension</b>                
			</div>                
          <div class="col-lg-2">
		  <div class="input-group" style="padding-left:40px;">
		  <input type="text" required style="width:216px;height:34px;border-radius:4px;color:black;" [(ngModel)]="user.RES_Extension">
		  </div>
		  </div>
		  </div>

		  <div class="row" style="padding-top:5px;">
		  <div class="col-lg-2">                      
		  <b>Res.Type</b>
		  </div>    
		  <div class="col-lg-2">
          <div class="input-group" style="padding-left:40px;">
          <select required style="width:216px;height:34px;border-radius:4px;color:black;" [(ngModel)]="user.RES_Res_Type">
            <option *ngFor="let restypelist of restype" [ngValue] = "restypelist.restype">{{restypelist.restype}}</option>                                          
          </select>
		  </div>
		  </div>
		  </div>
		  <div class="row" style="padding-top:5px;">
		  <div class="col-lg-2">
		  <b>Market</b>
		  </div>                           
		  <div class="col-lg-2">
		  <div class="input-group" style="padding-left:40px;">
		  <select required style="width:216px;height:34px;border-radius:4px;color:black;" [(ngModel)]="user.RES_Market">
		  <option *ngFor="let marketlist of marketpro" [ngValue] = "marketlist.marketgroup">{{marketlist.marketgroup}} </option>
		  </select>
		  </div>
		  </div>
		  </div>

		  <div class="row" style="padding-top:5px;">
		  <div class="col-lg-2">                                  
		  <b>Source</b>
		  </div>                                  
		  <div class="col-lg-2">
		  <div class="input-group" style="padding-left:40px;" >
		  <select required style="width:216px;height:34px;border-radius:4px;color:black;"[(ngModel)]="user.RES_Source">
        <option *ngFor="let sourcelist of source" [ngValue] = "sourcelist.sourcecode">{{sourcelist.sourcecode}}</option>                                          
      </select>
		  </div>
		  </div>
		  </div>

		  <div class="row" style="padding-top:5px;">
		  <div class="col-lg-2">                                        
		  <b>Origin</b>                                        
		  </div>       
		  <div class="col-lg-2">
		  <div class="input-group" style="padding-left:40px;" >
		  <select required style="width:216px;height:34px;border-radius:4px;color:black;"[(ngModel)]="user.RES_Origin">
        <option *ngFor="let originlist of origin" [ngValue] = "originlist.origincode">{{originlist.origincode}}</option>                                                                                                     
		  </select>
		  </div>
		  </div>
		  </div>
		  <div class="row" style="padding-top:5px;">
		  <div class="col-lg-2">                            
		  <b>Payment</b>
		  </div>                                              
		  <div class="col-lg-2">
		  <div class="input-group" style="padding-left:40px;">
          <span class="input-group-addon" style="background-color:#0077B5;color:white;"data-toggle="modal" data-target="#payment"><i class="glyphicon glyphicon-option-horizontal"></i></span>
          <!-- <input type="text" required style="width:178px;height:34px;border-radius:4px;color:black;" [(ngModel)]="user.RES_Payment"> -->
        <select required style="width:178px;height:34px;border-radius:4px;color:black;" [(ngModel)]="user.RES_Payment"> 
          <option *ngFor="let paymentlist of payment" [ngValue] = "paymentlist.paymenttype">{{paymentlist.paymenttype}}</option>                                                                                                                                                                       
		  </select>
		  </div>
		  </div>
		  </div>
		  <div class="row" style="padding-top:5px;">
		  <div class="col-lg-2">
		  <b>Block_Code</b>                                                    
		  </div>
		  <div class="col-lg-2">
		  <div class="input-group" style="padding-left:40px;">
		  <input type="text" required style="width:216px;height:34px;border-radius:4px;color:black;" [(ngModel)]="user.RES_Block_Code">
		  </div>
		  </div>
		  </div>
		  <div class="row" style="padding-top:5px;">
		  <div class="col-lg-2">                                                                
		  <b>ETA</b>
		  </div>                                                                
		  <div class="col-lg-2">
		  <div class="input-group" style="padding-left:40px;">
		  <span class="input-group-addon" style="background-color:#0077B5;color:white;"><i class="glyphicon glyphicon-pencil"></i></span>
		  <input type="date" class="form-control" style="width:176px;" [(ngModel)]="user.RES_ETA"></div>
		  </div>
		  </div>
		  <div class="row" style="padding-top:5px;">
		  <div class="col-lg-2">                                                                      
		  <b>Expire_Date</b>                                                                      
		  </div>                                                                      
		  <div class="col-lg-2">
		  <div class="input-group" style="padding-left:40px;">
		  <span class="input-group-addon" style="background-color:#0077B5;color:white;"><i class="glyphicon glyphicon-pencil"></i></span>
		  <input type="text" class="form-control" style="width:176px;" [(ngModel)]="user.RES_Exp_Date"></div>
		  </div>
		  </div><br>
		  <div class="row" style="padding-top:5px;">
		  <div class="col-lg-2">
		  <b>Confirmation</b>
		  </div>                                                      
		  <div class="col-lg-2">
		  <div class="input-group" style="padding-left:40px;">
		  <input type="checkbox" style="width:20px;height:20px;">
		  </div>
		  </div>
      </div>  
      <br>                                        
		  </div>
		  </div>
          </div>


          <div class="col-lg-4">
          <div class="panel panel-primary">                 
          <div class="panel-body">
		  <div class="row">
		  <div class="col-lg-2">                  
		  <b>Packages</b>                  
		  </div>                  
		  <div class="col-lg-2">
		  <div class="input-group" style="padding-left:40px;">
		  <input type="text" required style="width:216px;height:34px;border-radius:4px;color:black;" [(ngModel)]="user.RES_Packages">
		  </div>
		  </div>
		  </div>

		  <div class="row" style="padding-top:5px;">
		  <div class="col-lg-2">                        
		  <b>Special</b>                        
		  </div>
		  <div class="col-lg-2">
		  <div class="input-group" style="padding-left:40px;">
		  <input type="text" required style="width:216px;height:34px;border-radius:4px;color:black;" [(ngModel)]="user.RES_Specials">
		  </div>
		  </div>
		  </div>
		  <div class="row" style="padding-top:5px;">
		  <div class="col-lg-2">
		  <b>Comments</b>
		  </div>
		  <div class="col-lg-2">
		  <div class="input-group" style="padding-left:40px;">
		  <textarea name="" id=""  style="width:216px;border-radius:4px;color:black;" rows="3" [(ngModel)]="user.RES_Comments"></textarea>      
		  </div>
		  </div>
		  </div>
		  <div class="row" style="padding-top:5px;">
		  <div class="col-lg-2">
		  <b>Item_Inv.</b>
		  </div>
		  <div class="col-lg-2">
		  <div class="input-group" style="padding-left:40px;">
		  <input type="text" required style="width:216px;height:34px;border-radius:4px;color:black;" [(ngModel)]="user.RES_Item_Inv">
		  </div>
		  </div>
		  </div>

		  <div class="row" style="padding-top:5px;">
		  <div class="col-lg-2">
		  <b>Reason</b>
		  </div>                                          
		  <div class="col-lg-2">
		  <div class="input-group" style="padding-left:40px;">
		  <input type="text" required style="width:216px;height:34px;border-radius:4px;color:black;" [(ngModel)]="user.RES_Disc_Reason ">
		  </div>
		  </div>
		  </div>
		  <div class="row" style="padding-top:5px;">
		  <div class="col-lg-2">                                                
		  <b>Guest_Bal.</b>                                                
		  </div>                                                
		  <div class="col-lg-2">
		  <div class="input-group" style="padding-left:40px;">
		  <span class="input-group-addon" style="background-color:#0077B5;color:white;"><i class="glyphicon glyphicon-pencil"></i></span>
		  <input type="text" class="form-control" style="width:176px;" [(ngModel)]="user.RES_Guest_Balance"></div>
		  </div>
		  </div>

		  <div class="row" style="padding-top:5px;">
		  <div class="col-lg-2">
		  <b>Credit_Card</b>
		  </div>
		  <div class="col-lg-2">
		  <div class="input-group" style="padding-left:40px;">
		  <span class="input-group-addon" style="background-color:#0077B5;color:white;"><i class="glyphicon glyphicon-pencil"></i></span>
		  <input type="text" class="form-control" style="width:176px;" [(ngModel)]="user.RES_Creditcard_Number"></div>
		  </div>
		  </div>
		  <div class="row" style="padding-top:5px;">
		  <div class="col-lg-2">                                                            
		  <b>Currency.</b>
		  </div>
      <div class="col-lg-2">
        <div class="input-group" style="padding-left:40px;">
          <select required style="width:216px;height:34px;border-radius:4px;color:black;" [(ngModel)]="user.RES_Currency">
            <option *ngFor="let cl of getc" [ngValue] = "cl.currency">{{cl.currency}}</option>                                          
          </select>
        </div>
        </div>
		  </div>
        <div class="row" style="padding-top:5px;">
          <div class="col-lg-2">
          <b>Disc.Amount</b>
          </div>                                          
          <div class="col-lg-2">
          <div class="input-group" style="padding-left:40px;">
          <input type="text" required style="width:216px;height:34px;border-radius:4px;color:black;"  [(ngModel)]="user.RES_Disc_Amount">
          </div>
          </div>
          </div>   
          <div class="row" style="padding-top:5px;">
            <div class="col-lg-2">
            <b>Disc.%</b>
            </div>                                          
            <div class="col-lg-2">
            <div class="input-group" style="padding-left:40px;">
            <input type="text" required style="width:216px;height:34px;border-radius:4px;color:black;" [(ngModel)]="user.RES_Disc_perc">
            </div>
            </div>
            </div>                                  
        </div>
        </div>                
        </div>
    </div>

  </div>

  <div class="containerfluid">

      <div class="row">

        <div class="col-lg-2">

        </div>

          <div class="col-lg-2">
            <button type="button" class="btn btn-warning" style="width:150px;" (click)="submit(user)" data-toggle="modal" data-target="#myModal1"><b>Save</b><span class="glyphicon glyphicon-file" style="padding-left:5px;"></span></button>
            <p>{{user33.PF_Firstname}}</p>
        <p>{{user33.RES_Arrival}}</p>
        <p>{{user33.RES_Depature}}</p>
        <p>{{user33.RES_Nights}}</p>
        <p>{{user33.RES_Adults}}</p>
        <p>{{user33.RES_Child}}</p>
        <p>{{user33.RES_Number_Of_Rooms}}</p>
        <p>{{user33.RES_Room_Type}}</p>
        <p>{{user33.RES_Room}}</p>
        <p>{{user33.RES_Rate}}</p>
        <p>{{user33.RES_Packages}}</p>
        <p>{{user33.RES_Block_Code}}</p>
        <p>{{user33.RES_Res_Type}}</p>
        <p>{{user33.RES_Market}}</p>
        <p>{{user33.RES_Source}}</p>
        <p>{{user33.RES_Origin}}</p>
        <p>{{user33.RES_Payment}}</p>
        <p>{{user33.RES_Creditcard_Number}}</p>
        <p>{{user33.RES_Exp_Date}}</p>
        <p>{{user33.RES_Guest_Balance}}</p>
        <p>{{user33.RES_Disc_Amount}}</p>
        <p>{{user33.RES_Disc_Reason }}</p>
        <p>{{user33.RES_Specials}}</p>
        <p>{{user33.RES_Comments}}</p>
        <p>{{user33.RES_Item_Inv}}</p>
        <p>{{user33.RES_Extension}}</p>
        <p>{{user33.RES_Rate_Code}}</p>
        <p>{{user33.RES_ETA}}</p>
        <p>{{user33.RES_RTC}}</p>
        <p>{{user33.RES_Confnumber}}</p>
        <p>{{user33.RES_Stayon}}</p>
        <p>{{user33.RES_Block}}</p>
        <p>{{user33.RES_Party}}</p>
        <p>{{user33.RES_Guest_Status }}</p>
        <p>{{user33.RES_Currency}}</p>
        <p>{{user33.RES_Disc_perc}}</p>
        <p>{{user33.PF_Firstname}}</p>
        <p>{{user33.PF_Mobileno}}</p>

          </div>

          <div class="col-lg-2" style="padding-left:10px;">
              <button type="button" class="btn btn-success" style="width:150px;" data-toggle="modal" data-target="#myModal"><b>OK</b><span class="glyphicon glyphicon-thumbs-up" style="padding-left:5px;"></span></button>
            </div>

            <div class="col-lg-2" style="padding-left:10px;">
                <button type="button" class="btn btn-info" style="width:150px;"  routerLink="/reservationoption"><b>Options</b><span class="glyphicon glyphicon-file" style="padding-left:5px;"></span></button>
              </div>

              <div class="col-lg-2" style="padding-left:10px;">
                  <button type="button" class="btn btn-danger" style="width:150px;"><b>Close</b><span class="glyphicon glyphicon-remove" style="padding-left:5px;"></span></button>
                </div>


                <div class="col-lg-2">

                  </div>
      </div>
  </div>

</div>


<div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
        
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <!-- <h4 class="modal-title">Modal Header</h4> -->
            </div>
            <div class="modal-body">
              <p align="center"><b>Reservation Created successfully</b></p>
            </div>
            <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close <i class="glyphicon glyphicon-remove"></i></button>             
            </div>
          </div>
          
        </div>
	  </div>
	  
	  <div class="modal fade" id="myModal1" role="dialog">
        <div class="modal-dialog">
        
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <!-- <h4 class="modal-title">Modal Header</h4> -->
            </div>
            <div class="modal-body">
              <p align="center"><b> {{usera}}</b></p>
              <p align="center"><b> Confirmation Number is {{confim}}</b></p>
            </div>
            <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close <i class="glyphicon glyphicon-remove"></i></button>             
            </div>
          </div>
          
        </div>
      </div>	

 	  <div class="modal fade" id="payment" role="dialog">
        <div class="modal-dialog">
        
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <!-- <h4 class="modal-title">Modal Header</h4> -->
            </div>
            <div class="modal-body">
              <div class="table-responsive">
                <table class="table-hover table-bordered table-striped" style="width:100%;">
                  <thead style="background-color: #0077B5; color: white">
                    <th> X </th>
                    <th> Payment Type</th>
                    <th> tr.code</th>
                    <th> Description</th>
                    <th> </th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let paymentlist of payment let i=index;">
                        <td> {{i+1}} </td>
                        <td> {{paymentlist.paymenttype}}</td>
                        <td> {{paymentlist.transactioncode}}</td>
                        <td> {{paymentlist.payment_description}}</td>
                        <td> <input type="checkbox"> </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close <i class="glyphicon glyphicon-remove"></i></button>             
            </div>
          </div>
          
        </div>
      </div>	   
</body>
</html>