<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

		<div class="row" style="width:99%;">
				<div class="col-md-2"></div>
				<div class="col-md-10">
				
					<div class="container-fluid" style="padding-top:50px;">
				
						<ul class="nav nav-tabs">
						  <li><a data-toggle="tab" routerLink="/individualprofile">Individual Profile</a></li>
						  <li class="active"><a data-toggle="tab" >Company Profile</a></li>
						  
						</ul>
					 
				  </div><br>
<div class="container-fluid">
<div class="row">

<div class="col-lg-2">

</div>

<div class="col-lg-2">
<button type="button" class="btn btn-info" style="width:160px;"><b>More Fields</b></button>
</div>

<div class="col-lg-2">
<button type="button" class="btn btn-primary" style="width:160px;"><b>Stats & Info.</b></button>
</div>

<div class="col-lg-2">
<button type="button" class="btn btn-warning" style="width:160px;"><b>Sales & Info.</b></button>
</div>

<div class="col-lg-2">
<button type="button" class="btn btn-info" style="width:160px;"><b>Owner Stats</b></button>
</div>



</div>
</div><br>

<div class="container-fluid">

<div class="row">

<div class="col-lg-6">
<div class="panel panel-primary">
    <div class="panel-heading"><b>Address Information</b></div>
    <div class="panel-body">
	<div class="row">
	<div class="col-lg-3">
	  <b>Account</b>
	</div>
		<div class="col-lg-3">
		<div class="input-group">
            <input type="text" id="email" class="form-control" style="width:250px;" [(ngModel)]="user.PF_Account"></div>
			<div class="input-group" style="padding-top:5px;">
            <input type="text" id="email" class="form-control" style="width:250px;"></div>
			<div class="input-group" style="padding-top:5px;">
            <input type="text" id="email" class="form-control" style="width:250px;"></div>
      </div>
	</div><br>
	
	<div class="row">
	<div class="col-lg-3">
	<b>Address</b>
	</div>
	
	<div class="col-lg-3">
	<div class="input-group">
            <input type="text" id="email" class="form-control" style="width:250px;" [(ngModel)]="user.PF_Company_Address"></div>
	</div>
	
	</div>
	
	<div class="row" style="padding-top:5px;">
	<div class="col-lg-3">
	<b>Bussiness Address</b>
	</div>
	
	<div class="col-lg-3">
	<div class="input-group">
            <input type="text" id="email" class="form-control" style="width:250px;" [(ngModel)]="user.PF_Business_Address"></div>
	</div>
	
	</div>
	
	<div class="row">
	<div class="col-lg-3">
	
	</div>
	
	<div class="col-lg-3">
	<div class="input-group">
            <input type="text" id="email" class="form-control" style="width:250px;"></div>
	</div>
	
	</div>
	
	<div class="row" style="padding-top:5px;">
	<div class="col-lg-3">
	
	</div>
	
	<div class="col-lg-3">
	<div class="input-group">
            <input type="text" id="email" class="form-control" style="width:250px;"></div>
	</div>
	
	</div>
	
	<div class="row" style="padding-top:5px;">
	<div class="col-lg-3">
	<b>City</b>
	</div>
	
	<div class="col-lg-3">
	<div class="input-group">
            <input type="text" id="email" class="form-control" style="width:250px;" [(ngModel)]="user.PF_City"></div>
	</div>
	
	</div>
	
	<div class="row" style="padding-top:5px;">
	<div class="col-lg-3">
	<b>Postal Code/Ext.</b>
	</div>
	
		<div class="col-lg-3">
		<div class="input-group">
	
      <input type="text" id="email" class="form-control" style="width:250px;" [(ngModel)]="user.PF_Postalcode">
			
			
			  </div>
	</div>
	</div>
	
	<div class="row" style="padding-top:5px;">
	<div class="col-lg-3">
	<b>Country/State</b>
	</div>
	
	<div class="col-lg-3">
	<table>
	<tr>
<td>	<select  required style="height:34px;width:122px;" [(ngModel)]="user.PF_Company_Country">
<option value = "select1"> </option>
<option value = "US">US</option>
<option value = "UK">UK</option>
<option value = "India">India</option>
</select></td>

<td style="padding-left:5px;"><select  required style="height:34px;width:122px;" [(ngModel)]="user.PF_Company_State">
<option value = "select1"> </option>
<option value = "TamilNadu">TamilNadu</option>
<option value = "New Delhi">New Delhi</option>
<option value = "Bangalore">Bangalore</option>
</select></td>
</tr>
</table>
	</div>
	</div>
	
	
	
	
	</div>
	</div>
  </div>
  
  <div class="col-lg-6">
<div class="panel panel-primary" style="height:480px;">
    <div class="panel-heading"><b>Internal Information</b></div>
    <div class="panel-body">
	<div class="row">
	<div class="col-lg-3">
	<b>Owner</b>
	</div>
	<div class="col-lg-3">
	
	<select  required style="height:34px;width:250px;" [(ngModel)]="user.PF_Owner">
<option value = "select1"> </option>
<option value = "All">All</option>
<option value = "New Delhi">New Delhi</option>
<option value = "Bangalore">Bangalore</option>
</select>
	</div>
	</div>
	<div class="row" style="padding-top:5px;">
	<div class="col-lg-3">
	<b>Territory</b>
	</div>
	
	<div class="col-lg-3">
	<div class="input-group">
            <input type="text" id="email" class="form-control" style="width:250px;" [(ngModel)]="user.PF_Territory"></div>
	</div>
	</div>
	
	<div class="row" style="padding-top:5px;">
	<div class="col-lg-3">
	<b>Type</b>
	</div>
	<div class="col-lg-3">
	
	<select  required style="height:34px;width:250px;" [(ngModel)]="user.PF_Type">
<option value = "Contact"> Contact</option>
<option value = "Company">Company</option>
<option value = "Bussiness">Bussiness</option>
<option value = "Group">Group</option>
</select>
	</div>
	</div>
	
	
		<div class="row" style="padding-top:5px;">
	<div class="col-lg-3">
	<b>Ref. Currency</b>
	</div>
	<div class="col-lg-3">
	
	<select  required style="height:34px;width:250px;" [(ngModel)]="user.PF_Ref_Currency">
<option value = "USD"> USD</option>
<option value = "Pound">Pound</option>
<option value = "Yen">Yen</option>
<option value = "Euro">Euro</option>
</select>
	</div>
	</div>
	
	
		<div class="row" style="padding-top:5px;">
	<div class="col-lg-3">
	<b>A/R No.</b>
	</div>
	
	<div class="col-lg-3">
	<div class="input-group">
            <input type="text" id="email" class="form-control" style="width:250px;" [(ngModel)]="user.PF_AR_Number"></div>
	</div>
	</div>
	
	<div class="row" style="padding-top:5px;">
	<div class="col-lg-3">
	<b>Active</b>
	</div>
	
	<div class="col-lg-3">
	<div class="input-group">
            <input type="checkbox"  class="form-control" style="width:20px;height:20px;"></div>
	</div>
	</div>
	
	<div class="row" style="padding-left:15px;padding-top:5px;">
	<b>Communications</b>
	</div>
	
	<div class="row" style="padding-top:5px;">
		<table>
		<tr>
		<td style="padding-left:10px;">
		<select  required style="height:34px;width:100px;" [(ngModel)]="user.PF_Company_Commtype1">
<option value = "Bussiness"> Bussiness</option>
<option value = "Company">Company</option>
<option value = "Guest">Guest</option>

</select>
		</td>
		<td style="padding-left:5px;">
		<select  required style="height:34px;width:100px;" [(ngModel)]="user.PF_Company_Commtype2">
<option value = "Bussiness"> Bussiness</option>
<option value = "Company">Company</option>
<option value = "Guest">Guest</option>

</select>
		</td>
		<td style="padding-left:5px;">
		<select  required style="height:34px;width:100px;" [(ngModel)]="user.PF_Company_Commtype3">
<option value = "Bussiness"> Bussiness</option>
<option value = "Company">Company</option>
<option value = "Guest">Guest</option>
</select>
		</td>
		</tr>
		</table>
		
</div>

<div class="row" style="padding-top:5px;">
<table>
<tr>
<td style="padding-left:10px;"><div class="input-group">
            <input type="text" id="email" class="form-control" style="width:100px;" [(ngModel)]="user.PF_Company_Communication1"></div></td>

	<td style="padding-left:5px;"><div class="input-group">
            <input type="text" id="email" class="form-control" style="width:100px;" [(ngModel)]="user.PF_Company_Communication2"></div></td>
	
	<td style="padding-left:5px;"><div class="input-group">
            <input type="text" id="email" class="form-control" style="width:100px;" [(ngModel)]="user.PF_Company_Communication3"></div></td>
			</tr>
</table>
</div>


	
	
	</div>

	</div>
	
	
	</div>
	</div>
  </div>



<div class="container-fluid">


<div class="row">

<div class="col-lg-2">
<button type="button" class="btn btn-success" (click)="submit(user)" ><b>Ok</b><span class="glyphicon glyphicon-thumbs-up" style="padding-left:5px;width:130px;"></span></button>
<p>{{user33.PF_Firstname}}</p>
<p>{{user33.PF_Lastname}}</p>
<p>{{user33. PF_Language}}</p>
<p>{{user33.PF_Title}}</p>
<p>{{user33.PF_Mobileno}}</p>
<p>{{user33.PF_Account}}</p>
<p>{{user33.PF_Company_Address}}</p>
<p>{{user33.PF_Business_Address}}</p>
<p>{{user33.PF_Postalcode}}</p>
<p>{{user33.PF_Company_Country}}</p>
<p>{{user33.PF_Company_State}}</p>
<p>{{user33.PF_Owner}}</p>
<p>{{user33.PF_Territory}}</p>
<p>{{user33.PF_Type}}</p>
<p>{{user33.PF_AR_Number}}</p>
<p>{{user33.PF_Ref_Currency}}</p>
<p>{{user33.PF_Company_Communication1}}</p>
<p>{{user33.PF_Company_Communication2}}</p>
<p>{{user33.PF_Company_Communication3}}</p>
<p>{{user33.PF_Company_Commtype1}}</p>
<p>{{user33.PF_Company_Commtype2}}</p>
<p>{{user33.PF_Company_Commtype3}}</p>
<p>{{user33.PF_City}}</p>



</div>
<div class="col-lg-2">
<button type="button" class="btn btn-primary"><b>New</b><span class="glyphicon glyphicon-file" style="padding-left:5px;width:120px;"></span></button>
</div>
<div class="col-lg-2">
<button type="button" class="btn btn-success" (click)="updateCompanyProfile()"><b>Save</b><span class="glyphicon glyphicon-file" style="padding-left:5px;width:115px;"></span></button>
</div>
<div class="col-lg-2">
<button type="button" class="btn btn-default"><b>Options</b><span class="glyphicon glyphicon-thumbs-up" style="padding-left:5px;width:95px;"></span></button>
</div>
<div class="col-lg-2">
<button type="button" class="btn btn-danger"><b>Close</b><span class="glyphicon glyphicon-remove" style="padding-left:15px;width:110px;"></span></button>
</div>

<div class="col-lg-2">
	<button type="button" class="btn btn-danger" (click)="deleteCompanyProfile()"><b>Delete</b><span class="glyphicon glyphicon-trash" style="padding-left:15px;width:110px;"></span></button>
	</div>

</div>


</div>


</div>
</div>



</body>
</html>
